body{
  background-color:lightgrey;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 3px;
  grid-auto-rows:minmax(2em, auto);
}
#studentname {
  background-color:lightblue;
  border:1px solid black;
  height:2em;
  width: auto;
  grid-column: 1;
  grid-row: 2;
}
#studentbio {
  background-color:lightblue;
  border:1px solid black;
  width:25em;
  grid-column: 1/3;
  grid-row: 6;
}
#backbutton {
  grid-column:1;
  grid-row:1;
  width:5em;
}
#studentgrade {
  grid-column:2;
  grid-row:3;
}
#studentage {
  grid-column:2;
  grid-row:4;
}
